node_modules
/dist-docs
.DS_Store
/docs/.vitepress/cache
/docs/api
*.tsbuildinfo

packages/mp3-encoder/dist
packages/ac3/dist
packages/aac-encoder/dist
packages/flac-encoder/dist
packages/server/dist
